@model IEnumerable<ContactUs>
<div class="container-fluid">
    <!-- Title & Create Button -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 text-gray-800">All Messages</h1>
        @* <a href="/Admin/Exam/Create" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Add New</span>
        </a> *@
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Message List</h6>
            <form method="get" action="/Admin/ContactUs/Index" class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control bg-light small" name="query" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2" style="border: 2px solid #fff;">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: auto; white-space: nowrap;">
            <table class="table table-bordered" id="dataTable" style="min-width: 100px;">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Num of Employee</th>
                        <th>Start Date</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CompanyName</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.NumberOfEmployees</td>
                            <td>@item.ExpectedTrainingDate.ToString("yyyy-MM-dd")</td>
                            <td> @item.Message</td>
                            <td>
                                    <a href="/Admin/ContactUs/ShowMess/@item.Id" class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit"></i> show Message
                                </a>
                               @*  <a href="/Admin/Exam/AddQues/1" class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit"></i> Send Email
                                </a>
                                <button class="btn btn-danger btn-sm" onclick="confirmDelete(1)">
                                    <i class="fas fa-trash"></i> Delete
                                </button> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="/Admin/Category/Index?page=1">1</a></li>
                        <li class="page-item"><a class="page-link" href="/Admin/Category/Index?page=2">2</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </nav>
        </div>
    </div>


  